name: CI

on: [push, pull_request]

jobs:

  test_os:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
          cache: 'maven'
      - name: Test
        run: ./mvnw -V --no-transfer-progress -e verify
